<div class="container">
    <div class="title-content text-center">
        <h6 class="sub-title">İletişim</h6>
        <h3 class="title-big">İletişme Geçin</h3>
    </div>
    <div class="d-grid contact section-gap mt-lg-5 mt-4">
        <div class="contact-info-left d-grid text-center">
            <div class="contact-info">
                <span class="fa fa-map-marker" aria-hidden="true"></span>
                <h4>Get Directions</h4>
                <p>New York, NY-90814 Hill Station 4th Street</p>
            </div>
            <div class="contact-info">
                <span class="fa fa-phone" aria-hidden="true"></span>
                <h4>Contact Us</h4>
                <p><a href="tel:+1-2345-678-11">+1-2345-678-11</a></p>
                <p><a href="mailto:pizza@order.com" class="email">pizza@order.com</a></p>
            </div>
            <div class="contact-info">
                <span class="fa fa-clock-o" aria-hidden="true"></span>
                <h4>Opening Hours</h4>
                <p>Monday - Friday</p>
                <p> 09:00 am to 10:00 pm</p>
            </div>
        </div>
    </div>
</div>