<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d195884.3004299788!2d32.59795491077531!3d39.90352329832851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d347d520732db1%3A0xbdc57b0c0842b8d!2sAnkara!5e0!3m2!1str!2str!4v1690640030232!5m2!1str!2str" frameborder="0" allowfullscreen=""></iframe>
</div>