<div class="col-lg-6 menu-section pl-lg-5">
    <h3 class="menu-section-title">İçecekeler</h3>
    <!-- Item starts -->
    <div class="menu-item">
        <div class="row border-dot no-gutters">
            <div class="col-8 menu-item-name">
                <h6>Flavours</h6>
            </div>
            <div class="col-4 menu-item-price text-right">
                <h6>$10</h6>
            </div>
        </div>
        <div class="menu-item-description">
            <p>Pulled Pork, Beer Braised Brisket, & Quarter Rack of Ribs served with your choice of side</p>
        </div>
    </div>
    <!-- Item ends -->
    <!-- Item starts -->
    <div class="menu-item">
        <div class="row border-dot no-gutters">
            <div class="col-8 menu-item-name">
                <h6>Chocolate Fudge</h6>
            </div>
            <div class="col-4 menu-item-price text-right">
                <h6>$10</h6>
            </div>
        </div>
        <div class="menu-item-description">
            <p>Pulled Pork, Beer Braised Brisket, & Quarter Rack of Ribs served with your choice of side</p>
        </div>
    </div>
    <!-- Item ends -->
    <!-- Item starts -->
    <div class="menu-item">
        <div class="row border-dot no-gutters">
            <div class="col-8 menu-item-name">
                <h6>Caramel Sauce</h6>
            </div>
            <div class="col-4 menu-item-price text-right">
                <h6>$15</h6>
            </div>
        </div>
        <div class="menu-item-description">
            <p>Pulled Pork, Beer Braised Brisket, & Quarter Rack of Ribs served with your choice of side</p>
        </div>
    </div>
    <!-- Item ends -->
    <!-- Item starts -->
    <div class="menu-item">
        <div class="row border-dot no-gutters">
            <div class="col-8 menu-item-name">
                <h6>Whipped Cream</h6>
            </div>
            <div class="col-4 menu-item-price text-right">
                <h6>$18</h6>
            </div>
        </div>
        <div class="menu-item-description">
            <p>Pulled Pork, Beer Braised Brisket, & Quarter Rack of Ribs served with your choice of side</p>
        </div>
    </div>
    <!-- Item ends -->
</div>