@model List<Pizzapan.EntityLayer.Concrete.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@await Component.InvokeAsync("_AdminIndexPartial")
<br />
<h5>Ürünler</h5>

<table class="table table-bordered">
    <tr style="background-color:lightseagreen ; text-align:center">
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="background-color:wheat; text-align:center">
            <td>@item.ProductId</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.category.CategoryName</td>
            <td><a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Product/EditProduct/@item.ProductId" class="btn btn-outline-dark">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Product/AddProduct/" class="btn btn-outline-success"> Yeni Ürün</a>