@{
    Layout = null;
}
<!doctype html>
<html lang="en">
@await Component.InvokeAsync("_HeadPartial")
<body>
    <!--header-->
    @await Component.InvokeAsync("_NavbarPartial")
    <!--/header-->
    <!-- Domain Modal -->
    @await Component.InvokeAsync("_SideMenuPartial")
    <!-- //Domain modal -->
    <section class="w3l-breadcrumb">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="/Default/Index/">Anasayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Hakkımızda</li>
            </ul>
        </div>
    </section>
    <!--  Intro video popup section -->
    @await Component.InvokeAsync("_VideoPartial")
    <!--  //Intro video popup section -->
    <!--  form-12 -->
    @await Component.InvokeAsync("_BestPizzaPartial")
    <!-- // form-12 -->
    <!-- team -->
    @await Component.InvokeAsync("_TeamPartial")
    <!-- //team -->
    <!-- stats -->

    @await Component.InvokeAsync("_StatisticPartial")
    <!-- //stats -->
    <!-- features -->

    @await Component.InvokeAsync("_FeatureAboutPartial")
    <!-- //features -->
    <!-- footers 20 -->
    @await Component.InvokeAsync("_FooterPartial")
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Yukarı Çık">
        &#10548;
    </button>
    @await Component.InvokeAsync("_ScriptPartial")
</body>
</html>