<section class="w3l-reasons py-5">
    <div class="main-w3 py-lg-5 py-md-4">
        <div class="container">
            <div class="title-content text-center">
                <h6 class="sub-title">we are the best</h6>
                <h3 class="title-big">4 reasons to Choose us</h3>
            </div>
            <div class="row main-cont-wthree-fea mt-5 text-center">
                <div class="col-lg-3 col-sm-6 grids-feature">
                    <a href="#url" class="icon"><img src="assets/images/pizza.png" alt=""></a>
                    <h4><a href="#feature" class="title-head">Tasty Pizza</a></h4>
                    <p>Dolor et sed amet eget volutp elit libero. timpus sed elit nibh quis dui, nunc tortor.</p>
                </div>
                <div class="col-lg-3 col-sm-6 grids-feature mt-sm-0 mt-5">
                    <a href="#url" class="icon"><img src="assets/images/burger.png" alt=""></a>
                    <h4><a href="#feature" class="title-head">Quality Products</a></h4>
                    <p>Dolor et sed amet eget volutp elit libero. timpus sed elit nibh quis dui, nunc tortor.</p>
                </div>
                <div class="col-lg-3 col-sm-6 grids-feature mt-lg-0 mt-sm-5 mt-5">
                    <a href="#url" class="icon"><img src="assets/images/drink.png" alt=""></a>
                    <h4><a href="#feature" class="title-head">World's best Chef</a></h4>
                    <p>Dolor et sed amet eget volutp elit libero. timpus sed elit nibh quis dui, nunc tortor.</p>
                </div>
                <div class="col-lg-3 col-sm-6 grids-feature mt-lg-0 mt-sm-5 mt-5">
                    <a href="#url" class="icon"><img src="assets/images/fries.png" alt=""></a>
                    <h4><a href="#feature" class="title-head">Fastest delivery</a></h4>
                    <p>Dolor et sed amet eget volutp elit libero. timpus sed elit nibh quis dui, nunc tortor.</p>
                </div>
            </div>
        </div>
    </div>
</section>