@model RegisterViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<form method="post">
    <div class="container">
        <br />
        <label>Adınız</label>
        <input type="text"class="form-control" asp-for="Name"/>
        <br />
        <label>Soyadınız</label>
        <input type="text" class="form-control" asp-for="Surname" />
        <br />
        <label>Kullanıcı Adı</label>
        <input type="text" class="form-control" asp-for="Username" />
        <br />
        <label>Mail</label>
        <input type="text" class="form-control" asp-for="Email" />
        <br />
        <br />
     
        <label>Şifre</label>
        <input type="password" class="form-control" asp-for="Password" />
        <br />
        <label>Şifre Tekrar</label>
        <input type="password" class="form-control" asp-for="ConfirmPassword" />
        <br />
        <button class="btn btn-primary">Kayıt Ol</button>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    </div>
</form>

@*<!doctype html>
<html lang="tr">

<title>Kayıt Ol</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="~/login-form-20/css/style.css" rel="stylesheet" />
</head>

<body class="img js-fullheight" style="background-image: url(/login-form-20/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Kayıt Ol</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">

                        <form method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="İsim" asp-for="Name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Soyisim" asp-for="Surname" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Kullanıcı Adı" asp-for="Username" required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="E-Mail" asp-for="Email" required>
                            </div>
                            <div class="form-group">
                                <input id="password-field" type="password" class="form-control" placeholder="Şifre" asp-for="Password" required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <input id="password-field" type="password" class="form-control" placeholder="Şifre Tekrar" asp-for="ConfirmPassword" required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Kayıt Ol</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/login-form-20/js/bootstrap.min.js"></script>
    <script src="~/login-form-20/js/jquery.min.js"></script>
    <script src="~/login-form-20/js/main.js"></script>
    <script src="~/login-form-20/js/main.js"></script>



</body>
</html>

<head>
*@