<div class="col-lg-6 menu-section pr-lg-5">
    <h3 class="menu-section-title">Tavuk</h3>
    <!-- Item starts -->
    <div class="menu-item">
        <div class="row border-dot no-gutters">
            <div class="col-8 menu-item-name">
                <h6>Smoked Brisket Sandwich</h6>
            </div>
            <div class="col-4 menu-item-price text-right">
                <h6>$20</h6>
            </div>
        </div>
        <div class="menu-item-description">
            <p>Pulled Pork, Beer Braised Brisket, & Quarter Rack of Ribs served with your choice of side</p>
        </div>
    </div>
    <!-- Item ends -->
    <!-- Item starts -->
    <div class="menu-item">
        <div class="row border-dot no-gutters">
            <div class="col-8 menu-item-name">
                <h6>Pulled Chicken Sandwich</h6>
            </div>
            <div class="col-4 menu-item-price text-right">
                <h6>$50</h6>
            </div>
        </div>
        <div class="menu-item-description">
            <p>Pulled Pork, Beer Braised Brisket, & Quarter Rack of Ribs served with your choice of side</p>
        </div>
    </div>
    <!-- Item ends -->
    <!-- Item starts -->
    <div class="menu-item">
        <div class="row border-dot no-gutters">
            <div class="col-8 menu-item-name">
                <h6>Canada Dry Ginger Ale</h6>
            </div>
            <div class="col-4 menu-item-price text-right">
                <h6>$23</h6>
            </div>
        </div>
        <div class="menu-item-description">
            <p>Pulled Pork, Beer Braised Brisket, & Quarter Rack of Ribs served with your choice of side</p>
        </div>
    </div>
    <!-- Item ends -->
    <!-- Item starts -->
    <div class="menu-item">
        <div class="row border-dot no-gutters">
            <div class="col-8 menu-item-name">
                <h6>Peanutty Blast Smoothie</h6>
            </div>
            <div class="col-4 menu-item-price text-right">
                <h6>$50</h6>
            </div>
        </div>
        <div class="menu-item-description">
            <p>Pulled Pork, Beer Braised Brisket, & Quarter Rack of Ribs served with your choice of side</p>
        </div>
    </div>
    <!-- Item ends -->
</div>