@model Pizzapan.EntityLayer.Concrete.OurTeam
@{
    ViewData["Title"] = "EditOurTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Düzenleme Sayfası</h1>


<form method="post">
    <label>İsim</label>
    <input type="hidden" asp-for="OurTeamId" />
    <input asp-for="Name" class="form-control" style="background-color:antiquewhite" />
    <br />
    <label> Soyisim</label>
    <input asp-for="Surname" class="form-control" style="background-color:antiquewhite" />
    <br />
    <label>Başlık</label>
    <input asp-for="Title" class="form-control" style="background-color:antiquewhite" />
    <br />
    <label>Facebook</label>
    <input asp-for="Facebook" class="form-control" style="background-color:antiquewhite" />
    <br />
    <label>Twitter</label>
    <input asp-for="Twitter" class="form-control" style="background-color:antiquewhite" />
    <br />
    <label>Resim Url</label>
    <input asp-for="ImageURL" class="form-control" style="background-color:antiquewhite" />
    <br />
    <label>Durumu</label>
    <input asp-for="Status" class="form-control" style="background-color:antiquewhite" />
    <br />
    <button class="btn btn-info"> Kaydet</button>
</form>