
<section class="w3_stats py-5" id="stats">
    <div class="container py-lg-5 py-md-4">
        <div class="title-content text-center">
            <h6 class="sub-title">İstatistik</h6>
            <h3 class="title-big">Why we are unique? Have a look.</h3>
        </div>
        <div class="w3-stats">
            <div class="row">
                <div class="col-sm-4 col-4">
                    <div class="counter">
                        <span class="fa fa-smile-o"></span>
                        <div class="timer count-title count-number mt-3" data-to="5100" data-speed="1500"></div>
                        <p class="count-text ">happy customers</p>
                    </div>
                </div>
                <div class="col-sm-4 col-4">
                    <div class="counter">
                        <span class="fa fa-users"></span>
                        <div class="timer count-title count-number mt-3" data-to="971" data-speed="1500"></div>
                        <p class="count-text ">master chef's</p>
                    </div>
                </div>
                <div class="col-sm-4 col-4">
                    <div class="counter">
                        <span class="fa fa-database"></span>
                        <div class="timer count-title count-number mt-3" data-to="21" data-speed="1500"></div>
                        <p class="count-text ">branches</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>