<h1 style="text-align:center;color:darkblue">Ansayfa Düzenleme</h1>
<br />
<br />
<div class="container">
    <a class="btn btn-danger" href="/Feature/GetFeature/" style="margin-right:50px;margin-left:200px">Giriş</a>
    <a class="btn btn-danger" href="/BestPizza/BestPizza/" style="margin-right:50px">Pizzalar</a>
    <a class="btn btn-danger" href="/ProductImage/Index/" style="margin-right:50px">Galeri</a>
    <a class="btn btn-danger" href="/Product/Index/" style="margin-right:50px">Ürünler</a>
    <a class="btn btn-danger" href="/Testimonial/GetTestimonial/" style="margin-right:50px">Müşteri Düşünceleri</a>

</div>
