<section class="w3l-about py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-6">
                <h3>We make the Best Pizza in your town</h3>
                <h5 class="mt-lg-3 mt-2">
                    Fusce fringilla tincidunt laoreet volutpat cras varius sit.
                    metus vitae diam mauris.
                </h5>
                <p class="mt-sm-4 mt-3 mb-sm-0 mb-2">
                    Sed in metus libero. Sed volutpat eget dui ut tempus. Fusce fringilla tincidunt laoreet
                    Morbi ac metus vitae diam scelerisque malesuada eget eu mauris. Cras varius lorem ac velit pharetra,
                    non scelerisque mi vulputate. Phasellus bibendum.
                </p>
                <a href="blog1.html" class="btn-style btn-primary btn mt-lg-5 mt-4">Know more about us</a>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="row">
                    <div class="col-6 features-with-17-left1">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/pizza.png" alt="" /></a>
                        <h4><a href="#url">Right food baked with natural ingredient</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/burger.png" alt="" /></a>
                        <h4><a href="#url">The use of natural best quality products</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/drink.png" alt="" /></a>
                        <h4><a href="#url"> World’s best Chef and Nutritionist!</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/fries.png" alt="" /></a>
                        <h4><a href="#url">Fastest delivery on your door step</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>