@model UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kulanıcı Profil Sayfası</h1>
<form method="post">
    <label>Kullanıcı Adınız</label>
    <input type="text" class="form-control border" asp-for="Username" />
    <br />
    <label>Adınız</label>
    <input type="text" class="form-control border" asp-for="Name" />
    <br />
    <label>Soyadınız</label>
    <input type="text" class="form-control border" asp-for="Surname" />
    <br />
    <label>Şehir</label>
    <input type="text" class="form-control border" asp-for="City" />
    <br />   
    <label>Mail Adresi</label>
    <input type="text" class="form-control border" asp-for="Email" />
    <br />
    <label>Şifre</label>
    <input type="password" class="form-control border"  asp-for="Password" />
    <br />
    <button class="btn btn-primary">Güncelle</button>
</form>

