<section class="w3l-portfolio-8 py-5">
    <div class="portfolio-main py-lg-5 py-md-4">
        <div class="container">
            <div class="title-content text-center">
                <h6 class="sub-title">Gallery</h6>
                <h3 class="title-big">Pizza Gallery</h3>
            </div>
            <div class="row galler-top mt-lg-5 mt-4">
                <div class="col-md-3 col-6 protfolio-item hover14 align-self">
                    <a href="assets/images/g6.jpg" data-lightbox="example-set"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/pizzapan-starter/assets/images/g6.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                </div>
                <div class="col-md-3 col-6 protfolio-item hover14">
                    <a href="assets/images/g1.jpg" data-lightbox="example-set" class="mb-4"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/pizzapan-starter/assets/images/g1.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                    <a href="assets/images/g2.jpg" data-lightbox="example-set"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/pizzapan-starter/assets/images/g2.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                </div>
                <div class="col-md-3 col-6 protfolio-item hover14">
                    <a href="assets/images/g3.jpg" data-lightbox="example-set" class="mb-4"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/pizzapan-starter/assets/images/g3.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                    <a href="~/pizzapan-starter/assets/images/g6.jpg" data-lightbox="example-set"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/pizzapan-starter/assets/images/g6.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                </div>
                <div class="col-md-3 col-6 protfolio-item hover14 align-self">
                    <a href="~/pizzapan-starter/assets/images/g1.jpg" data-lightbox="example-set"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/pizzapan-starter/assets/images/g1.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
