<section class="w3l-footers-20">
    <div class="footers20">
        <div class="container">
            <div class="footers20-content">
                <div class="d-grid grid-col-4 grids-content">
                    <div class="column">
                        <h4>Address</h4>
                        <p class="contact-para3">New York, NY-90814 Hill Station 4th Street</p>
                        <a href="mailto:hello@w3layouts.com">
                            <p class="contact-mail mt-2">pizza@order.com</p>
                        </a>
                    </div>
                    <div class="column">
                        <h4>Book a Table</h4>
                        <p>Lorem ipsum dolor sit amet, elit. Minima, enim.</p>
                        <a href="tel:+1-2345-678-11">
                            <p class="contact-phone mt-2">+1-2345-678-11</p>
                        </a>
                    </div>
                    <div class="column">
                        <h4>Opening hours</h4>
                        <p>Monday - Friday</p>
                        <p class="mt-2">09:00 am to 10:00 pm</p>
                    </div>
                    <div class="column">
                        <h4>Twitter feed</h4>
                        <a href="blog-single.html">
                            <p>
                                <span class="fa fa-twitter mr-2"></span>Eating hot spicy pizza is best thing to
                                consider
                            </p>
                        </a>
                        <p class="small mt-2"><span class="fa fa-clock-o"></span> March 25, 2020</p>
                    </div>
                </div>
                <div class="d-grid grid-col-3 grids-content1 bottom-border">
                    <div class="columns copyright-grid">
                        <p class="copy-footer-29">
                         <a>© @DateTime.Now.Year Pizza Pan. Tüm Hakları Saklıdır. | Aleyna Yağmur TÜMTÜRK</a>
                        </p>
                    </div>
                    <div class="columns text-right social-grid">
                        <ul class="social">
                            <li><a href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                            <li><a href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
                            <li><a href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>