
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    @await Component.InvokeAsync("_HeadPartial")
</head>

<body>
    <!--header-->
    @await Component.InvokeAsync("_NavbarPartial")
    <!--/header-->
    <!-- Domain Modal -->
    @await Component.InvokeAsync("_SideMenuPartial")
    <!-- //Domain modal -->
    <section class="w3l-breadcrumb">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="/Default/Index/">Ansayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> İletişim</li>
            </ul>
        </div>
    </section>
    <section class="w3l-contact-11 py-5">
        <div class="contacts-main py-lg-5 py-md-4">
            <div class="contant11-top-bg">
                
                @await Component.InvokeAsync("_ContactSectionPartial")
            </div>
            <div class="form-41-mian section-gap mt-5">
                <div class="container">
                    <div class="d-grid align-form-map">
                        
                        @await Component.InvokeAsync("_FormMessagePartial")
                        @await Component.InvokeAsync("_MapPartial")
                        
                    </div>
                </div>
            </div>

    </section>
    <!-- footers 20 -->
    @await Component.InvokeAsync("_FooterPartial")
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Yukarı Çık">
        &#10548;
    </button>
    @await Component.InvokeAsync("_ScriptPartial")
</body>

</html>