
<section class="w3l-form-12">
    <div class="form-12-content py-5" id="services">
        <div class="container py-lg-5 py-md-4">
            <div class="row">
                <div class="col-lg-4 column1 align-self">
                    <h4>Şehrinizin En İyi Pizzalarını Yapıyoruz</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi suscipit hic, aut aperiam alias
                        corporis. Lorem ipsum dolor sit amet, elit. Quasi?
                    </p>
                </div>
                <div class="col-lg-8 column2 mt-lg-0 mt-sm-5 mt-4">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-6">
                            <a href="services.html">
                                <div class="courses-item">
                                    <img src="~/pizzapan-starter/assets/images/pizza.png" alt="">
                                    <p>Pizza</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6">
                            <a href="services.html">
                                <div class="courses-item">
                                    <img src="~/pizzapan-starter/assets/images/burger.png" alt="">
                                    <p>Burger</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 mt-md-0 mt-sm-4 mt-3">
                            <a href="services.html">
                                <div class="courses-item">
                                    <img src="~/pizzapan-starter/assets/images/fries.png" alt="">
                                    <p>Patates Kızartması</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 mt-md-0 mt-sm-4 mt-3">
                            <a href="services.html">
                                <div class="courses-item">
                                    <img src="~/pizzapan-starter/assets/images/drink.png" alt="">
                                    <p>Soğuk İçecek</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
                            <a href="services.html">
                                <div class="courses-item mt-2">
                                    <img src="~/pizzapan-starter/assets/images/burger.png" alt="">
                                    <p>Füme Burger</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
                            <a href="services.html">
                                <div class="courses-item mt-2">
                                    <img src="~/pizzapan-starter/assets/images/fries.png" alt="">
                                    <p>Mozarella</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
                            <a href="services.html">
                                <div class="courses-item mt-2">
                                    <img src="~/pizzapan-starter/assets/images/pizza.png" alt="">
                                    <p>Pizza</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
                            <a href="services.html">
                                <div class="courses-item mt-2">
                                    <img src="~/pizzapan-starter/assets/images/drink.png" alt="">
                                    <p>Sandiviç</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>